* {
  margin: 0;
  padding: 0;
}
body {
  background: #0a2a43;
  min-height: 1500px;
}
section {
  position: relative;
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
section img {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100vw;
  object-fit: cover;
  pointer-events: none;
}

img:nth-child(1) {
width: 100%;
top: 0;

}
img:nth-child(2) {
  width: 150px;
  top: 100px;
  left: 500px;
}
img:nth-child(3){
  top: 400px;
  z-index: auto;
}
img:nth-child(4){
  bottom: 0;
  z-index: auto;
}
section h1 {
  color: white;
  position: relative;
  top: -200px;
  font-size: 4rem;
  z-index: auto;
  text-shadow: 0px 0px 15px black;
}
section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  /* backdrop-filter: blur(5px); */
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
  /* mix-blend-mode:color; */
}
section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  /* background: red; */
  z-index: 10000;
  mix-blend-mode:color;
}
